.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/Network.iml
.idea/codeStyles/
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
Network.iml

.idea
